body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aqua; /* Set aqua background color */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

.about-section {
    padding: 20px;
}

.about-container {
    max-width: 800px;
    margin: 0 auto;
}

h2 {
    color: #333;
}

h3 {
    color: #555;
}

p {
    margin-bottom: 20px;
}

ul {
    margin-bottom: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
