nav {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transform-origin: left;
}

nav a:hover {
    text-decoration: underline;
    transform-origin: left;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.contact-section {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    justify-content: space-around;
}

.contact-info,
.contact-form {
    flex: 1;
}

.contact-info h2,
.contact-form h2 {
    margin-top: 0;
}

.contact-info p {
    margin: 10px 0;
}

.contact-form form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
