body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transform-origin: left;
}

nav a:hover {
    text-decoration: underline;
    transform-origin: left;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.services-section {
    max-width: 800px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.service {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service h2 {
    margin-top: 0;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
