body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
nav {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transform-origin: left;
}

nav a:hover {
    text-decoration: underline;
    transform-origin: left;
}


header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.try-vato-section {
    max-width: 800px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.try-vato-info h2 {
    margin-top: 0;
}

.try-vato-info p {
    margin-bottom: 20px;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
